body {
    font-family: "Sarabun", sans-serif;
}

.cards > * {

    display: inline-block;
    vertical-align: top;

}

.states {
    max-width: 400px;
    width: 100%;
    font-size: 20px;
    border: 2px solid black;
    margin: 20px 10px;
    padding: 10px 10px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    border-bottom: 4px solid green;
}

h4 {
    text-align: center;
    margin-bottom: -10px;
}

